/* docs */
.docs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.docs h1 {
  margin-top: 5.3125rem;
  font-family: Roboto;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.25rem;
}
.docs p {
  font-family: Proxima Nova;
  font-weight: 400;
  font-style: normal;
  size: .875rem;
  line-height: .875rem;
}
.docsCardBox {
  width: 80%;
  display: flex;
  justify-content: center;
}
.docsCardWrapper {
  padding: 3.75rem 0;
  display: inline-grid;
  grid-template-columns: repeat(2, 50%);
}
.docsCard {
  display: inline;
  box-sizing: border-box;
  position: relative;
  width: 31.25rem;
  margin: 1rem 1rem;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgba(203, 213, 225, 0.8);
}
.docsCard div {
  position: relative;
  display: flex;
  align-items: baseline;
}
.docsCard div a {
  position: relative;
  padding-left: .75rem;
  top: -0.125rem;
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.875rem;
  color: rgba(23, 28, 52, 1);
}

.docsCard {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(49, 56, 62, 1);
}
.docsCard p span {
  line-height: 1.5rem;
  font-weight: 700;
}
.docsCard p a {
  line-height: 1.5rem;
  font-weight: 700;
  color: rgba(49, 56, 62, 1);
}

.docsCard p:first-of-type {
  line-height: 1.5rem;
  padding-top: .625rem;
  min-height: 4.375rem;
}
.docsCard p:last-of-type {
  margin: 0 !important;
}

@media (max-width: 996px) {
  .docsCardBox {
    width: 100%;
  }
  .docsCardWrapper {
    display: flex;
    flex-direction: column;
  }
  .docsCard {
    width: 96%;
    margin: .625rem 2%;
  }
  .docsCard p:first-of-type {
    padding-top: 0px;
    min-height: 0px;
  }
}
